body {
  font-family: monospace;
  background:#333;
}

a {
  text-decoration: none;
}

/* Nav Bar */
.topnav {
  background: linear-gradient(to left, #111, #444);
  overflow: hidden;
  text-align: right;
  opacity: .9;   
}

.topnav a {
  display: inline-block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background: rgb(209, 234, 255);
  color: black;
  transition: .5s;
}

.topnav .icon {
  display: none;
}
/* Styles for the full site */

h1 {
  font-size: 40px;
  color: white;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: black;
  text-align: left;
  margin-left: 16px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 16px;
}

footer{
  background: linear-gradient(to left, #111, #444);
  color: white;
  padding: 20px;
  margin: 10px 0% 0px 0%;
}
@media screen and (max-width: 500px) {
  h1 {
  font-size: 28px;
}
}