.container-main{
display: flex;
}

.switch-liquor-type{
  
  flex-direction: column;
  background: #f0f8ff;
  height: 300px;
  width: 150px;
  border-radius: 5%;
  font-size: 18px;
  margin-left: auto;
}

a {
  color: black;
  text-decoration: none;
}

.switch-liquor-type li {
  padding-bottom: 10px;
}

.switch-liquor-type h4 {
  text-align: center;
}

.switch-liquor-type a :hover{
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 500px;
  background: #f0f8ff;
  display: block;
  margin: 0px auto 50px 20px;
  padding: 10px 20px 50px 20px;
  text-align: center;
  font-size: 18px;
  border-radius: 5%;
}

.recipes {
  
}

.img-container {

}

#whiskey-img {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 10px 10px 10px #000;
}

#cocktail{
  font-size: 22px;
  color: rgba(7, 0, 70, 0.795);
}

#alcoholtype{
  font-weight: bolder;
}

#info {
  height: 150px;
}

.buttons-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container ul{
  text-align: left;
  height: 150px;
}

button {
  background: black;
  color: #ddd;
  padding: 4%;
  border-radius: 5%;
}

button:hover{
  cursor: pointer;
  background: rgb(209, 234, 255);
  color: black;
}

.prev-btn {  
  padding:15px 20px;
}

.next-btn {
  padding: 15px 20px;
}
