#home-image img{
  width: 80%;
  height: 70%;
  max-width: 1000px;
  max-height: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-one{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
}

h3 {
  text-align: center;
  padding-top: 20px;
  color: white;
}

.container img{
  height: 150px;
  width: 150px;
}

#box-one {
  background-image: url("https://images.unsplash.com/photo-1611266353853-d370b67187ed?q=80&w=1364&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#box-two {
  background-image: url("https://images.unsplash.com/photo-1618183479302-1e0aa382c36b?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");   
}

#box-three {
  background-image: url("https://images.unsplash.com/photo-1560512823-829485b8bf24?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#box-one, #box-two, #box-three {
  margin: 0px 10px 0px 10px;
  padding: 0px 5px 0px 5px;
  background-size: cover;
  height: 250px;
  width: 180px;
}

a:hover{
    opacity: .7;
    transition: .2s;
  }

.container-two{
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 620px;
  display: block;
  margin: 40px auto 40px auto;
  padding: 20px;
}
.container-two img{
    float: left;
    padding-right: 10px;
    height:100px;
    width: 100px;
}

#container-two-box-one, #container-two-box-two, #container-two-box-three {
    background: rgb(209, 234, 255);;
    margin: 10px;
    padding: 10px 10px 10px 10px;

}

.about-me{
  background-color: white;
  height: 280px;
  display: block;
  margin: 40px auto 40px auto;
  padding: 20px;
}
.about-me img{
  float: left;
  height:280px;
  width: 170px;
  padding-right: 20px;
}