.test-cont{

}

.test {
    float: left;
    background: #f0f8ff;
    height: 300px;
    width: 150px;
    border-radius: 5%;
    font-size: 18px;
}

a {
    color: black;
    text-decoration: none;
}

.test li {
    padding-bottom: 10px;
}

.test h4 {
    text-align: center;
}

.test a :hover{
    font-size: 20px;
}

.container {
    height: 800px;
    width: 500px;
    background: #f0f8ff;
    display: block;
    margin: 50px auto 50px auto;
    padding: 10px 20px 50px 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 5%;
  
  }

.review {
  
}

.img-container {

}

#whiskey-img {
height: 200px;
width: 200px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 50%;
box-shadow: 10px 10px 10px #000;
}

#cocktail{
    font-size: 22px;
    color: maroon;
  }

#alcoholtype{
    
  }
  #info {
  
  }
  
  .buttons-container {
  
  }

  .container ul{
    text-align: left;
  }
  button {
    padding:10px 20px;
    background: black;
    color: #ddd;
    padding: 4%;
    border-radius: 5%;
    
  }
  button:hover{
    cursor: pointer;
    background: rgb(209, 234, 255);
    color: black;
  }
  .prev-btn {
  
  }
  .next-btn {
  
  }
  
  .random-drinks #whiskey-img{
    height:100px;
    width:100px;
    border-radius: 5%;
    margin-left: 30px;
    margin-bottom: 30px;
    box-shadow: none;
  }
  #random-one, #random-two{
    background: #f0f8ff;
    padding: 5px;
    margin: 10px 10% 0px 10%;

  }
  #random-one img, #random-two img{
    left: 50px;

  }
  .random-drinks p{
    
  }