body {
  font-family: arial;
  background:#333;
}

.topnav {
  background: linear-gradient(to left, #111, #444);
  overflow: hidden;
  text-align: right;
  opacity: .9;   
}

.topnav a {
  display: inline-block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #005b94;
  color: #ccc;
  transition: .5s;
}

.topnav .icon {
  display: none;
}