.container-main{
  display: flex;
  flex-direction: row;
}

.switch-liquor-type{
  background: linear-gradient(to left, #333, #444);;
  height: 250px;
  width: 150px;
  border-radius: 5%;
  font-size: 18px;
  margin-left: auto;
}

a {
  color: black;
  text-decoration: none;
}

.switch-liquor-type li {
  padding-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

.switch-liquor-type h4 {
  text-align: center;
  color: rgb(209, 234, 255);
}

.switch-liquor-type a :hover{
  font-size: 20px;
  color:rgb(209, 234, 255) ;
}

.container {
  height: 800px;
  width: 500px;
  background: #f0f8ff;
  display: block;
  margin: 0px auto 50px 20px;
  padding: 10px 20px 50px 20px;
  text-align: center;
  font-size: 18px;
  border-radius: 5%;
}

#whiskey-img {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  box-shadow: 2px 2px 2px #000;
}

#cocktail{
  font-size: 22px;
  color: rgba(7, 0, 70, 0.795);
}

#alcoholtype{
  font-weight: bolder;
}

#info {
  height: 150px;
}

.buttons-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container ul{
  text-align: left;
  height: 150px;
}

button {
  background: black;
  color: #ddd;
  padding: 4%;
  border-radius: 5%;
}

button:hover{
  cursor: pointer;
  background: rgb(209, 234, 255);
  color: black;
}

.prev-btn {  
  padding:15px 20px;
}

.next-btn {
  padding: 15px 20px;
}

@media screen and (max-width: 705px) {
  .container-main{
    flex-direction: column-reverse;
  }
  .switch-liquor-type{
    font: 12px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
  }
  .container{
    width: 85%;
    height: 800px;
  }
  #info{
    height:200px;
  }
  .switch-liquor-type ul {
    height: 0px;
    padding-top: 5px;
    padding-bottom: 160px;
  }
}

@media screen and (max-width: 400px) {
  h1{
    font-size: 24px;
  }
  .container{
    width: 75%;
    height: 900px;
  }
  #info{
    height:250px;
  }

}